{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "printWidth": 80,
  "singleQuote": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/routes/(.*)$",
    "^@/app/_components/ui/(.*)$",
    "^./(.*)$"
  ],
  "importOrderSortSpecifiers": true
}
