NODE_ENV=
DATABASE_URL=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_SECRET_KEY=

NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_MAP_ID=

NEXT_PUBLIC_HCAPTCHA_SITEKEY=

ESCORT_EXPIRY_PERIOD_IN_MILLISECONDS=
MAXIMUM_DISTANCE_IN_METER=